@charset "UTF-8";

/* GLOBAL CONFIG */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #505056;
}

.container{
    margin: 0 auto;
    max-width: 128rem;
}

.grid{
    display: grid;
}

.grid--1-col{
    grid-template-columns: 1fr;
}

.grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols{
    grid-template-columns: repeat(3, 1fr);
}

/* END GLOBAL CONFIG */




/* HERO SECTION */
.section-hero{
    background-color: #F8F9FF;
}

.main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 3.1rem 0;
}

.main-nav--left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
}

.main-nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;

    list-style: none;
}

.main-nav-link{
    text-decoration: none;
    font-size: 1.8rem;
    color:  #434959;
    border-bottom: 2px solid transparent;
    transition: all .3s;
}

.main-nav-link:hover{
    border-bottom: 2px solid currentColor;
}

.main-nav--right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

.btn:link,
.btn:visited{
    padding: 1.6rem 4rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    background-color: #0066FF;
    border-radius: 10px;
    text-decoration: none;
    transition: all .3s;
}

.btn:hover,
.btn:active{
    background-color: #0052cc;
}

.home-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4.2rem;
    
    padding-bottom: 16rem;
}

.header--left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    width: 64rem;
}

.header-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
}

.primary-heading{
    color: #2B2828;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 120%;
}

.paragraph-section{
    font-size: 1.8rem;
}

.header-btn-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.2rem;
}

.download-icon{
    border-radius: 8px;
}

.header-img-box{
    height: 580px;
    width: 563px;
}

/* END SECTION HERO */



/* SECTION IMPRETIONS */

.section-impretions{
    background-color: #fff;
    padding: 11.2rem 0;
}

.impretions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-family: 'Space Grotesk', sans-serif;
}

.impretions-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondary-heading{
    font-size: 4.8rem;
    font-weight: 700;
    color: #2B2828;
    line-height: 120%;
}

.impretions-info span{
    font-size: 2.4rem;
    font-weight: 500;
    color: #505056;
}

/* END SECTION IMPRETIONS */



/* SECTION HOW IT WORKS */

.section-how{
    background-color: #fff;
    padding: 11.2rem 0;
}

.how{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.header-how{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    width: 63.5%;
    margin: 0 auto;
    text-align: center;
}

.how-cards{
    gap: 3.2rem;
}

.how-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;

    padding: 2.4rem;
}

.how-card:nth-child(2){
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
     0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.sixth-heading{
    font-size: 2rem;
    line-height: 140%;
    color: #2B2828;
}

/* END SECTION HOW IT WORKS */



/* SECTION FEATURES LIST */

.features-list--1{
    background-color: #1F2029;
    padding: 6rem 6.5rem 0 6.5rem;
}

.features-list{
    gap: 4rem;
}

.fl-text-box--1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    color: #fff !important;
}

.fl-text-content--1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.8rem;
}

.features-list--list{
    gap: 1.8rem;
}

.fourth-heading{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 120%;
}

.features-list-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.2rem;
}

.list-item-heading{
    font-size: 1.8rem;
    font-weight: 700;
}

.features-list--2{
    background-color: #fff;
    padding: 11.2rem 0;
}

.features-list--list-2{
    grid-template-columns: 1.15fr .85fr;
}

.fl-text-box--2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3.2rem;

    width: 740px;
    height: 538px;
}

.fl-text-content--2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
}

.features-list--list-2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.fl-img-box--2{
    position: relative;
}

.fl-img{
    position: absolute;
    top: -60px;
    left: 100px;
}

.feature-item--2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
}

.features-list-items--2{
    column-gap: 2.4rem;
    row-gap: 3rem;
}

/* END SECTION FEATURES LIST */



/* PRICING SECTION */

.section-pricing{
    background-color: #F8F9FF;
    padding: 11.2rem 0;
}

.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

.pricing-text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    text-align: center;
    width: 73.3rem;
    margin: 0 auto;
}

.pricing-text-box .secondary-heading{
    padding: 0 2.85rem;
}

.pricing-text-box .paragraph-section{
    font-size: 1.6rem;
}

.pricing-plans{
    gap: 3.2rem;
}

.pricing-plan{
    padding: 3.2rem;
    background-color: #fff;
    border-radius: 6px;
}

.pricing-plan-heading{
    padding-bottom: 2.9rem;
    border-bottom: 0.8px solid #9FCDFF;
}

.pricing-plan-text-box{
    display: flex;
    flex-direction: column;
    gap: 2.1rem;

    width: 259px;
    padding-top: 4.6rem;
}

.pricing-plan-text-box .secondary-heading{
    color: #0E1133;
}

.pricing-plan-text-box .secondary-heading span{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 155%;
    color: #71717A;
    margin-left: 2.4rem;
}

.pricing-plan-paragraph{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;
    color: #505056;
}

.pricing-plan-list{
    padding-right: 4.3rem;
}

.pricing-plan-features{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    padding-right: 4.3rem;
    margin-top: 3.2rem;
}

.pricing-plan-features li{
    display: flex;
    align-items: center;
    gap: .8rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;
}

.check-icon-plan{
    width: 2rem;
    height: 2rem;
}

.pricing-plan-check{
   margin-top: 4rem;
}

.plan-btn:link,
.plan-btn:visited{
    padding: 1.6rem 5rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 120%;
    text-decoration: none;
    color: #007AFF;
    border: 1px solid #007AFF;
    border-radius: 4px;
    transition: all .3s;
}

.plan-btn:hover,
.plan-btn:active{
    background-color: #0052cc;
    color: #fff;
}

.pricing-plan-top{
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
        0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}

.pricing-plan-check .btn{
    padding: 1.6rem 5rem;
    border-radius: 4px;
    font-weight: 400;
    font-size: 1.8rem;
}
/* END PRICING SECTION */


/* SECTION TESTIMONIAL */

.section-testimonial{
    padding: 9.6rem 0;
}

.testimonial{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 9.6rem 0;
}

.testimonial-img{
    position: absolute;
    top: -5rem;
    left: -30rem;
}

.testimonial-text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    gap: 4.8rem;

    position: relative;

    background-color: #F5F9FF;
    padding: 4.8rem 8rem 4.8rem 16rem;
    width: 97.175rem;
}

.testimonial-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: auto;
    width: 73.175rem;

    padding: 0;
}

.testimonial-name-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.testimonial-name{
    font-size: 2rem;
    font-weight: 500;
    color: #2B2828;
}

.testimonial-carousel-box{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

/* END SECTION TESTIMONIAL */



/* SECTION CTA */

.section-cta{
    padding: 9.6rem 0;
    background-color: #007AFF;
}

.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;


    text-align: center;
}

.cta-heading{
    display: flex;
    flex-direction: column;
    gap: 4.2rem;

    width: 70rem;
    margin: 0 auto;
    text-align: center;

    color: #fff;
}

.cta-heading .secondary-heading{
    color: #fff;
}

.cta-heading .paragraph-section{
    font-size: 1.6rem;
    width: 58.6rem;

    margin: 0 auto;
}

.cta--cta{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 2.1rem;
}

.cta-email{
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1.6rem;
    width: 49.567rem;
}

.cta-btn{
    background-color: #2B2828;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    padding: 1.6rem 2.8rem;
    margin-left: 2.1rem;
    border-radius: 10px;
}

.cta-text{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;
    color: #fff;
}

/* END SECTION CTA */